node_modules/
.env
.DS_Store
backend/src/uploads/
backend/uploads/__pycache__/
*.pyc
backend/uploads/
backend/src/uploads/
backend/temp/
backend/temp/
backend/temp/
backend/venv/
venv/
.vscode/
backend/dubbing.py
